# In General
.idea
.env
data-provider/.env
data-provider/.log
data-provider/certs/host/x509


# Node
node/certs/host/x509
node/.log

# Data Provider

# Oracle Contract
oracle-contract/node_modules
oracle-contract/.env
oracle-contract/coverage
oracle-contract/coverage.json
oracle-contract/typechain
oracle-contract/typechain-types

# Hardhat files
oracle-contract/cache
