# In General
.idea

# Node

# Data Provider

# Oracle Contract
oracle-contract/node_modules
oracle-contract/.env
oracle-contract/coverage
oracle-contract/coverage.json
oracle-contract/typechain
oracle-contract/typechain-types

# Hardhat files
oracle-contract/cache
